﻿@{
    ViewData["Title"] = "Home Page";
}
@model DataModel

<div class="container">
    <div class="card">
        <div class="card-header">
            Manage Services
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-md-3">SQL Service</div>
                <div class="col-md-3 d-flex justify-content-between">
                    <form asp-controller="Home" asp-action="SQLServiceStart" method="post">
                        <button type="submit" class="btn btn-success">Start</button>
                    </form>
                    <form asp-controller="Home" asp-action="SQLServiceStop" method="post">
                        <button type="submit" class="btn btn-danger">Stop</button>
                    </form>
                    <form asp-controller="Home" asp-action="SQLServiceRestart" method="post">
                        <button type="submit" class="btn btn-info">Restart</button>
                    </form>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">IIS Service</div>
                <div class="col-md-3 d-flex justify-content-between">
                    <form asp-controller="Home" asp-action="IISServiceStart" method="post">
                        <button type="submit" class="btn btn-success">Start</button>
                    </form>
                    <form asp-controller="Home" asp-action="IISServiceStop" method="post">
                        <button type="submit" class="btn btn-danger">Stop</button>
                    </form>
                    <form asp-controller="Home" asp-action="IISServiceRestart" method="post">
                        <button type="submit" class="btn btn-info">Restart</button>
                    </form>
                </div>
            </div>
            <form asp-controller="Home" asp-action="ApplicationPoolRecycle" method="post" class="row d-flex mb-2">
                <div class="col-md-3">
                    Application Pool
                </div>
                <div class="col-md-3">
                    <select asp-for="ApplicationPoolName"
                            class="form-control"
                            asp-items="@(new SelectList(@ViewBag.ListOfApplicationPool))">
                    </select>
                </div>
                <div class="col-md-4">
                    <button type="submit" value="Start" name="Command" class="btn btn-success">Start</button>
                    <button type="submit" value="Stop" name="Command" class="btn btn-danger">Stop</button>
                    <button type="submit" value="UpdatePoolList" name="Command" class="btn btn-primary">Update Poollist</button>
                </div>
            </form>
            <form asp-controller="Home" asp-action="SQLJobStart" method="post" class="row d-flex mb-2">
                <div class="col-md-3">
                    SQL Job Name
                </div>
                <div class="col-md-3">
                    <select asp-for="SQLJobName"
                            class="form-control"
                            asp-items="@(new SelectList(@ViewBag.ListOfSQLJob))">
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success">Execute</button>
                </div>
            </form>
            <form asp-controller="Home" asp-action="WindowsService" method="post" class="row d-flex mb-2">
                <div class="col-md-3">
                    Windows Service
                </div>
                <div class="col-md-3">
                    <select asp-for="WindowsServiceName"
                            class="form-control"
                            asp-items="@(new SelectList(@ViewBag.ListOfWindowsService))">
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="submit" value="Start" name="Command" class="btn btn-success">Start</button>
                    <button type="submit" value="Stop" name="Command" class="btn btn-danger">Stop</button>
                    <button type="submit" value="Restart" name="Command" class="btn btn-danger">Restart</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">Logs</div>
        <div class="card-body">
            @foreach (var log in Model.Logs)
            {
                <p>@log</p>
            }
        </div>
    </div>
</div>
